<div class="content" role="main">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span class="title">Angular Component Library</span>
  </div>
  <mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened class="sidenav-left-panel">
      <h2>Components</h2>
       <section class="tp-section">
          <span>Buttons</span>
       </section>
       <section class="tp-section">
          <span>Form Elements</span>
       </section>
       <section class="tp-section">
          <span>Dialogs</span>
       </section>
       <section class="tp-section">
          <span>Snackbars</span>
        </section>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-right-panel">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>Button</mat-grid-tile>
        <mat-grid-tile>Sign Up Button</mat-grid-tile>
        <mat-grid-tile>Login Button</mat-grid-tile>
        <mat-grid-tile>Add New Button</mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
 </mat-sidenav-container>
</div>


