<div class="content" role="main">
  <div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span class="title">Angular Component Library</span>
  </div>
  <mat-sidenav-container class="tp-container">
    <mat-sidenav mode="side" opened class="sidenav-left-panel">
      <h2>Components</h2>
       <section class="tp-section">
          <span>Buttons</span>
       </section>
       <section class="tp-section">
          <span>Form Elements</span>
       </section>
       <section class="tp-section">
          <span>Modals</span>
       </section>
       <section class="tp-section">
          <span>Snackbars</span>
        </section>
        <section class="tp-section">
          <span>Dynamic List Items</span>
        </section>
        <section class="tp-section">
          <span>Custom In-Line Edit with AutoSave</span>
        </section>
        <section class="tp-section">
          <span>Misc</span>
        </section>
        <section class="tp-section">
          <span>Custom Theme Palettes</span>
        </section>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-right-panel">
      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <span class="float-left">Button</span>
          <span class="float-right">
            <!-- <lib-button>Button Text</lib-button> -->
          </span>
        </mat-grid-tile>
        <mat-grid-tile>          
          <span class="float-left">Sign Up Button</span>
          <span class="float-right">
            <lib-signup-button></lib-signup-button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Login Button</span>
          <!-- <span class="float-right">{{LoginButton}}</span> -->
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Add New Button</span>
          <span class="float-right">
            <lib-addnew-button></lib-addnew-button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Compose Button</span>
          <span class="float-right">
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Edit Button</span>
          <span class="float-right">
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Add to Cart Button</span>
          <span class="float-right">
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Delete Button</span>
          <span class="float-right">
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Print Button</span>
          <span class="float-right">
            <lib-print-button></lib-print-button>
          </span>
        </mat-grid-tile>
        <mat-grid-tile>
          <span class="float-left">Search Button</span>
          <span class="float-right">
          </span>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-sidenav-content>
 </mat-sidenav-container>
</div>